.bike_show p {
  color: #757575;
  font-size: small;
}
.bike_show td {
  color: #757575;
  // font-size: small;
}
.bike_show-title-wrapper {
  padding: 10px 0;
}
.bike_show-title {
  font-size: x-large;
}
.bike_show-subtitle {
  font-size: large;
  color: #757575;
}
.bike_show-ownedby {
  font-size: small;
}
.bike_show-description-wrapper {
 padding: 10px 0;
}
.fa-check-circle {
  color: $green;
}
.fa-times-circle-o {
  color: $red;
}
