<h1>Rentals#create</h1>

Bike ID <%= @bike.id %>
Rental ID <%= @rental.id %>
<!-- initial -->
<%# link_to image_tag('blue-on-light.png'), user_stripe_connect_omniauth_authorize_path(:stripe_connect) %>
<%= link_to image_tag('blue-on-light.png'), user_stripe_connect_omniauth_authorize_path %>
<%# link_to image_tag('blue-on-light.png'), "" %>
