'<div class="bike_index_iw-wrapper">' +
  '<div class="bike_index_iw-content">' +
    '<div class="bike_index_iw-picture-wrapper">' +
      '<img src="http://res.cloudinary.com/dchxwllhb/image/upload/c_fill,h_153,w_229/' + markers[i][3] + '" alt="" height="153" width="229">' +
    '</div>' +
    '<div class="bike_index_iw-price-wrapper">' +
      '<span class="bike_index_iw-price-wrapper-price">' +
        markers[i][4] +
      '</span>' +
      '<span class="bike_index_iw-price-wrapper-currency">' +
         markers[i][5] +
      '</span>' +
    '</div>' +
    '<div class="bike_index_iw-body-wrapper">' +
      '<div class="bike_index_iw-body-content">' +
        '<span class="bike_index_iw-body-content-avatar-wrapper">' +
            '<img class="avatar bike_index_iw-body-content-avatar" alt="" src="/assets/hadrien.jpg">' +
        '</span>' +
        '<div class="bike_index_iw-body-content-text-wrapper">' +
          '<div class="bike_index_iw-body-content-text-content">' +
            '<span class="bike_index_iw-body-content-text-content-title">' +
              markers[i][6] +
            '</span>' +
            '<span class="bike_index_iw-body-content-text-content-descr">' +
              markers[i][7]+
            '</span>' +
          '</div>' +
        '</div>' +
      '</div>' +
    '</div>' +
  '</div>' +
'</div>'
