// Big up: http://jsfiddle.net/doktormolle/k57qojq7/
#map {
    height: 100%;
    margin: 0px;
    padding: 0px
}
.custom-iw .gm-style-iw {
    top:0 !important;
    left:0 !important;
    right:0 !important;
    border-radius:3px;
    height: 201px;
}
.custom-iw>div:first-child>div:nth-child(2) {
    display:none;
}
.custom-iw .gm-style-iw, .custom-iw .gm-style-iw>div, .custom-iw .gm-style-iw>div>div {
    width:100% !important;
    max-width:100% !important;
}
/** set here the width **/
.custom-iw, .custom-iw>div:first-child>div:last-child {
    width:229px !important;
}
.custom-iw>div:first-child>div:last-child {
    left:0px !important;
    right:0px;
    top:0px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 6px;
    z-index:-1 !important;
}
/** set here the desired background-color **/
#div-main-infoWindow, .custom-iw>div:first-child>div:nth-child(n-1)>div>div, .custom-iw>div>div:last-child, .custom-iw .gm-style-iw, .custom-iw .gm-style-iw>div, .custom-iw .gm-style-iw>div>div {
    background-color:white !important;
}
/** close-button **/
.custom-iw>div:last-child {
    top:1px !important;
    right:1px !important;
    display:none;
}
/** padding of the content **/
.bike_index_iw-wrapper {
    padding:0px;
}
