/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded_updown {
  padding-top: 2em;
  padding-bottom: 2em;
}
.padded {
  padding: 2em;
}
// Margins
.margined_updown {
  margin-top: 2em;
  margin-bottom: 2em;
}
.margined {
  margin: 2em;
}
// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
.gray_box {
  background-color: #F9F9F9;
  // padding: 20px;
}
